/* Author: Anna Hyer Spring 2023 Class: Fundamentals of Software Engineering */

/*colors, layout, etc.*/
body {
    /*background-color: rgb(73, 111, 90),*/
    background-image: url("olena-shmahalo-RAmE69dtnIw-unsplash.jpg");
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1{
    color: bisque;
    float: none;
}

h3{
    color: blanchedalmond;
}

#options {
    background-color: darkgreen;
    color: white;
    padding: 10px;
}

#button1 {
   background-color:rgb(172, 186, 149); 
   padding: 12px;
   
}

#button2 {
    background-color:rgb(172, 186, 149); 
    padding: 12px;
}

#button3 {
    background-color:rgb(172, 186, 149); 
    padding: 12px;

}

#button4 {
    background-color:rgb(172, 186, 149); 
    padding: 12px;
}

#button5 {
    background-color:rgb(172, 186, 149); 
    padding: 12px;
}   

#button6 {
    background-color:rgb(172, 186, 149); 
    padding: 12px;
}

#button7 {
    background-color:rgb(172, 186, 149); 
    padding: 12px;
   
}
 




