<!-- Alexander Flores Spring 2023 CS320-->
<!-- This website was made with the help of w3schools.com-->
<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('templates', path='style2.css') }}">
<html lang='en-US'>

<head>
	<title>Arduino Data</title>
	<link rel="icon" type="image/x-icon" href="{{ url_for('templates', path='plant.png') }}">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div>
		<ul>
			<li> <a href="#"> <b>Home</b></a></li>
			<li> <a href="#"><b>Sensors </b></a></li>
			<li> <a href="#"><b>Climate</b></a></li>
			<li style="float:right"> <a href="#"><b>About</b></a></li>
		</ul>
	</div>
	<hr>
	<h1 style="text-align:center;"> Arduino Data</h1>
	<hr>
	
	<div align="center">
		<form id="forms" action="" onsubmit="changeData(event)">
			<label for="data_display">Choose your data:</label>
			<select name="data_display">
				<option value="" selected disabled hidden>Select</option>
				<option value="data_recent">Most recent Data</option>
				<option value="sensor">My Sensors</option>
				<option value="data">Data</option>
				<option value="Meta">Sensor Metadata</option>
			</select>

			<input type="date" id="start_date" name="start" min="2000-01-02" required> to
			<input type="date" id="end_date" name="end" min="2000-01-02">
		
			<input type="submit" class="test" name="submit">
		</form>
	</div>

	<div>
		<table style="margin-left:auto; margin-right:auto;">
			<caption>Sensor Data</caption>
		<tr> 
			<th>Sensor</th>
			<th>Data</th>
			<th>Date</th>
		</tr>
		<tr>
			<td>DHT_TEMP</td>
			<td>68 F</td>
			<td>4/13/2023</td>
		</tr>
		<tr>
			<td>DHT_HUM</td>
			<td>60%</td>
			<td>4/13/2023</td>
		</tr>
		<tr>
			<td>TEMP</td>
			<td>70 F</td>
			<td>4/13/2023</td>
		</tr>
		</table>
	</div>

<canvas id="myChart" style="width:100%;max-width:600px"></canvas>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js">
</script>

<script type="text/javascript">

new Chart("myChart", {
  type: "line",
  data: {
    labels: ["Day 1","Day 2","Day 3","Day 4","Day 5","Day 6","Day 7","Day 8","Day 9","Day 10"],
    datasets: [{ 
    	label: 'DHT_Humidity',
      data: [860,1140,1060,1060,1070,1110,1330,2210,7830,2478],
      borderColor: "red",
      fill: false
    }, { 
    	label: 'DHT_Temperatire',
      data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
      borderColor: "green",
      fill: false
    }, { 
    	label: 'Temperature',
      data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
      borderColor: "blue",
      fill: false
    }]
  },
  options: {
    legend: {display: true},
    text: "Arduino Data",
    display:true
  }
});
</script>

<script>
	var ws = new WebSocket("ws://localhost:8000/ws");
	ws.onmessage = function(event) {
		const data = JSON.parse(event.data);
		console.log(data);
	}
function changeData(event) {
	let x = document.forms.namedItem("forms");
	let y = "";
	for (let i = 0; i < 4; i++) {
	 	y += x[i].value + " ";
	}


	ws.send(y);
	event.preventDefault();
	// alert(y);
	// return false;

}
</script>
