<!-- Alexander Flores Spring 2023 CS320-->
<!-- This website was made with the help of w3schools.com-->
<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('templates', path='style2.css') }}">
<html lang='en-US'>

<head>
	<title>Arduino Data</title>
	<link rel="icon" type="image/x-icon" href="{{ url_for('templates', path='plant.png') }}">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div>
		<ul>
			<li> <a href="#"> <b>Home</b></a></li>
			<li> <a href="#"><b>Sensors </b></a></li>
			<li> <a href="#"><b>Climate</b></a></li>
			<li style="float:right"> <a href="#"><b>About</b></a></li>
		</ul>
	</div>
	<hr>
	<h1 style="text-align:center;"> Arduino Data</h1>
	<hr>
	
	<div align="center">
		<form id="forms" action="" onsubmit="changeData(event)">
			<label for="data_display">Choose your data:</label>
			<select name="data_display">
				<option value="" selected disabled hidden>Select</option>
				<option value="data_recent">Most recent Data</option>
				<option value="sensor">My Sensors</option>
				<option value="data">Data</option>
				<!-- <option value="Meta">Sensor Metadata</option> -->
			</select>

			<input type="date" id="start_date" name="start" min="2000-01-02" required> to
			<input type="date" id="end_date" name="end" min="2000-01-02">
		
			<input type="submit" class="test" name="submit">
		</form>
	</div>

	<div class="data_table" style='height:500px; width:350px;margin-left: auto; margin-right: auto; overflow: scroll;'>
		</div>

<canvas id="myChart" style="width:100%; max-width:600px; margin-left: auto; margin-right: auto; display: none;"></canvas>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js">
</script>



<script>
	var ws = new WebSocket("ws://localhost:8000/ws");
	ws.onmessage = function(event) {
		const data = JSON.parse(event.data);

		let form = document.forms.namedItem("forms")[0].value;
		let display = "block";

		let new_width;
		if (form == "sensor") {
			display = "none"
			 new_width = 200;
		} else if (form == "data") {
			makeGraph();
			new_width = 350;
		} else {
			new_width = 500;
		}
		document.getElementsByClassName('data_table')[0].style.width = new_width;
		var canvas = document.querySelector("canvas");
		canvas.style.display = display;

		// i need to add units
		let str = "<table><tr>";
		for (attribute in data[0]) { /* Insert attribute name of each column */
			str += "<th>" + attribute + "</th>";
		}
		str += "</tr>";
		
		for (row in data) { /* Insert each tuple into the table */
			str +=  "<tr>";
			for (attribute in data[row]) {
				str += "<td>" + data[row][attribute] + "</td>";
			}
			str +=  "</tr>";
		}
		str += "</table>";

		document.getElementsByClassName("data_table")[0].innerHTML = str;
				
	}


function changeData(event) {
	let x = document.forms.namedItem("forms");
	let y = "";
	for (let i = 0; i < 3; i++) {
	 	y += x[i].value + " ";
	}

	ws.send(y);
	event.preventDefault();
	return false;
}


function makeGraph() {
	new Chart("myChart", {
  type: "line",
  data: {
    labels: ["Day 1","Day 2","Day 3","Day 4","Day 5","Day 6","Day 7","Day 8","Day 9","Day 10"],
    datasets: [{ 
    	label: 'DHT_Humidity',
      data: [860,1140,1060,1060,1070,1110,1330,2210,7830,2478],
      borderColor: "red",
      fill: false
    }, { 
    	label: 'DHT_Temperatire',
      data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
      borderColor: "green",
      fill: false
    }, { 
    	label: 'Temperature',
      data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
      borderColor: "blue",
      fill: false
    }]
  },
  options: {
    legend: {display: true},
    text: "Arduino Data",
    display:true
  }
});

}

//<th>Sensor Name </th><th>Data</th><th>Location</th><th>Date</th></tr>";

// str +=  "<tr><td>" + data[i]['name'] 	 + "</td>" +
			// 						"<td>" + data[i]['data'] + "</td>" +
			// 						"<td>" + data[i]['loc']  + "</td>" +
			// 						"<td>" + data[i]['date'] + "</td></tr>";
</script>




