<!--Author: Anna Hyer Spring 2023 Class: Fundamentals of Software Engineering-->

<!DOCTYPE html>
<html>
    <head>
        <title>GardenMinder</title>
        <link rel="stylesheet" href="style.css">
    </head>
   <h1>Welcome to GardenMinder</h1>
    <body>
        <div id = "options">
            <button id="button1">account</button>
            <button id="button2">seedvault</button>
            <button id="button3">plants</button>
            <button id="button4">wishlist</button>
            <button id="button5">sensors</button>
            <button id="button6">my data</button>
            <button id="button7">climate</button>
        </div>
        <p id="demo"></p>
        <div id = "table">
            <table id = "seeds">seed table</table>
        </div>
        <form action="login">
            <input name="username" type="text" placeholder="gardener">
            <input name="password" type="text" placeholder="password">
            <button type="submit">submit</button>
        </form>
        <!--action when button is clicked--follows this route (function)-->
        
           <!--go to seedvault_clicked function when button clicked-->

        <link href="{{ url_for(name= 'test_show_main', path= '/app/routers/gardenpathop.py) }}"/>

        <!--button onclick="{{ url_for(path= '/database.db') }}" >Python</button--> 
        <!--button onclick="{{ url_for(path= 'test_show_seeds') }}" >Python</button--> 

        <script defer src="gardenpathop.py"></script>
        <!--makes main.py module accessible to front end-->
        <script>
            function page_load(){
                $.ajax({
                    url: "main.py"
                })
            }
        </script>

        {% block seedvault %}  
            {{seed.seed_type}}
        {% endblock %}

        <script>
            document.getElementById("demo").innerHTML = 1500;
        </script>
        </body>
    
        <p><a href="{{ url_for(name= 'test_show_main', path= '/app/routers/gardenpathop.py') }}">seedvault</a></p>
        <p><a href="/seedvault">seedvault2</a></p>    <!--link to seedvault page-->
        <p><a href="/seedvault">seedvault3</a></p>
    </body>
    <script defer src="script.js"></script>
</html>



        <script>
            function page_load(){
                $.ajax({
                    url: "main.py"
                })
            }
        </script>
